﻿@model IEnumerable<BlogProva.Models.Post>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-2">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            @foreach (var menu in ViewBag.pages)
            {
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Page" asp-route-id="@menu.Id">
                    @menu.Titulo
                </a>
            </li>
            }
        </ul>
    </div>
    <div class="col" id="posts">
        @foreach (var post in Model)
        {
            <div class="post">
                <h3><a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
                    @post.Titulo
                </a></h3>
                <div>
                    @post.Data.ToShortDateString()
                </div>
                <div>
                    @post.Conteudo
                </div>
            </div>
            <hr>
        }
    </div>
</div>
