@model BlogProva.Models.Post

@{
    ViewData["Title"] = Model.Titulo;
}

<h1>
    @Model.Titulo
</h1>
<div>
    <small>
        @string.Format("{0} - {1}", Model.Autor, Model.Data.ToLongDateString())
    </small>
</div>
<div>
    @Model.Conteudo
</div>
